<link rel="stylesheet" type="text/css" href="style.css">

<%= form_with(model: detail) do |form| %>
  <% if @detail.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(detail.errors.count, "error") %> prohibited this detail from being saved:</h2>

      <ul>
        <% @detail.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if detail.new_record? %>
  User ID: <%= @userid %>
  <div class="container">
    <div class="form-group">
    <%= form.hidden_field :user_id, value: @userid %>

    <%= form.label :Phone_Id, style: "display: block" %>
    <%= form.text_field :phone_id %>
  </div>
    <%= form.label :phone_number, style: "display: block" %>
    <%= form.text_field :phone_number %>
    <div>
  </div><br>
<%= form.submit "Add Number", class:'btn btn-primary' %>

</div>
  <% else %>
<% count = 1 %>
<div class="container">
    <table class="table">
    <thead>
    <tr>
       <th scope="col">#</th>
       <th scope="col">Phone Number</th>
       <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <% @phones.each do |detail| %>

    <tr>
    <% phonenum = detail.phone_number %>
    <%= form.hidden_field :phone_id, value: detail.phone_id %>
    <%= form.hidden_field :user_id, value: detail.user_id %>

    <th scope="row"><%= count %>)</th>
    <% count = count + 1 %>
    <td> <%= phonenum %> </td>
    <td> <%= link_to 'Edit', detail_path(detail.phone_id) %> </td></tr></tr>
    
    <% end %>
    </tbody>
  </table>
</div>
  </div>
  <div>
    &nbsp;<%= link_to "Back to details", details_path(:param1 =>  @userid ) %>
    <% end %>
<br>
<br>
  <div>
      

  </div>
<% end %>

